.business-header-main{
  background-color: #d32323;
  display: block;
  position: relative;
  height: 100px;
  justify-content: space-between;
  display: flex;
}

#application-name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  font-weight: bold;
  margin-left: 25px;
}

.application-logo{
    color: inherit;
    display: flex;
    justify-content: flex-start;
    margin-right: 15px;
}

.business-page-searchbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    // width: 50%;
    height: 70%;
    margin: 0 auto;
}


.user-not-logged-in{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 13px;
  border-radius: 3px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.business-page-location, .business-page-search {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  width: 250px;
}

.username{
  display: inline-block;
  margin-right: 20px;
  color: white;

  padding: 10px 25px 10px;
}

.logout-business{
  display: inline-block;
  margin-right: 20px;
  color: white;
  background-color: transparent;
  padding: 10px 25px 10px;
  float: right;
}

.logout-business:hover{
  border-bottom: 3px solid;
  cursor: pointer;
}

.user-not-logged-in > .signup{
  height: 20px;
  align-self: center;
}

.business-header-inner{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.user-logged-in{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 13px;
  border-radius: 3px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}