.business-header-main{
  background-color: #d32323;
  display: block;
  position: relative;
  height: 100px;
  justify-content: space-between;
  display: flex;
}

#application-name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: red;
  text-shadow: 7px 2px 4px white;
  margin-left: 25px;
}

.application-logo{
  position: absolute;
  margin-top: 20px;
}

.business-page-searchbar{
  display: flex;
  width: 600px;
  height: 53px;
  margin-top: 17px;
  margin-left: 100px;
  position: relative;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 4px 8px 0wrgba(0,0,0,0.2), 0 6px 20px 0 white;
  text-align: center;
  margin-left: auto;
  vertical-align: middle;
  padding: 6px;
}


.user-not-logged-in{
  float: right;
}

.business-page-location, .business-page-search {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  width: 250px;
}

.username{
  display: inline-block;
  margin-right: 20px;
  color: white;
  margin-top: 30px;
  padding: 10px 25px 10px;
}

.logout-business{
  display: inline-block;
  margin-right: 20px;
  color: white;
  background-color: transparent;
  margin-top: 30px;
  padding: 10px 25px 10px;
  float: right;
}

.logout-business:hover{
  border-bottom: 3px solid;
  cursor: pointer;
}