.footer-image{
  width: 100%;
  border-top: 1px solid lightgray;
  height: 220px;
}

.footer{
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
  align-items: center;
  margin-top: 20px;
  background-color: #f5f5f5;
}

.footer-container{
  text-align: center;
}

.github-btn-footer > .fab, .linkedin-btn-footer > .fab{
  font-size: 30px;
  color: #d32323;
  padding-right: 30px;
}

.github-btn-footer > .fab:hover, .linkedin-btn-footer > .fab:hover{
  font-size: 35px;
  color: red;
  transition: 0.5s all;
  font-weight: 700;
}