.header-mainpage{
  background-image: url(https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_large_assets/e456d8b923f5/assets/img/home/hero_photos/DLIUyjgS7v50YRV2xfNquA.jpg);
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  margin-bottom: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: inherit;
  height: initial;
  width: 100%;
  height: 600px;
}

.header-right{
display: inline-block;
    margin-right: 20px;
    color: white;
    background-color: transparent;
    margin-top: 30px;
    padding: 10px 25px 10px;
    float: right;
}

.search-icon > button{
  background: #d32323;
  border: none;
}

.search-icon > button > .fas{
      color: white;
    background: transparent;
    font-size: 15px;

}

.application-name {
  margin-top: 50px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 75px;
  line-height: 75px;
  color: red;
  font-weight: 700;
  text-shadow: 7px 2px 4px white;
}

.signup {
  border: 2px solid white;
  border-radius: 5px;
 color: white;
    margin-top: 30px;
    display: inline-block;
    padding: 10px 25px 10px;
    background-color: transparent;
  background-color: transparent;
}

.login {
  display:inline-block;
  margin-right:20px;
  color: white;
  padding: 10px 25px 10px;
}

.login:hover {
  // border-bottom: 1px solid;
}

.signup:hover{
  background-color: lightgray;
  cursor: pointer;
}


.github-btn{
  color: white;
  margin-top: 30px;
  display: inline-block;
  padding: 10px 25px 10px;

}

.write-a-review{
  color: white;
  margin-top: 30px;
  display: inline-block;
  padding: 10px 25px 10px;
}

.write-a-review:hover{
  border-bottom: 3px solid;
}

.github-btn:hover {
  border-bottom: 3px solid;
}

.linkedin-btn{
  color: white;
  display: inline-block;
  padding: 10px 25px 10px;
}

.linkedin-btn:hover{
  border-bottom: 3px solid;
}

.header-left{
  float: left;
  justify-content: space-between;
  height: 10px;
}

.logout{
  color: white;
  margin-top: 30px;
  display: inline-block;
  background-color: transparent;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logout:hover{
  cursor: pointer;
  background-color: gray;
}


.homepage-search{
  display: flex;
  justify-content: space-evenly;
  margin-top: 65px;
  margin-bottom: 18px;
}

.homepage-search input{
  margin-left: 10px;
  line-height: 45px;
  border: 1px solid transparent;
  outline: none;
  font-size: 18px;
}

.under-search-bar{
  justify-content: center;
  width: 100%;
  position: fixed;
  color: white;
  display: flex;
  position: absolute;
    margin-top: 90px;
}

.search-find, .search-near, .search-icon{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 45px;
  color: #666666;
}

.search-find{
  background-color: white;
  border-radius: 4px 0 0 4px;
  width: 45.99%;
  padding-left: 10px;
  padding-right: 10px;
}

.search-input, .near-input{
  width: 200px;
}

.search-near {
  background-color: white;
  width: 45.99%;
}

.search-icon {
    width: 7.99%;
    border-radius: 0 4px 4px 0;
    background: #d32323;
    text-align: center;
}


.under-search-bar > li {
  padding-right: 10px;
}

.under-search-bar > li:hover{
  text-decoration: underline;
  cursor: pointer;
}

.homepage-bottom{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: #d32323;
  margin-top: 50px;
  padding-bottom: 30px
}

.display-pictures{
  justify-content: space-between;
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin-right: 150px;
  margin-left: 150px;
}

#picture1 img{
  width: 300px;
  height: 200px;
  display: block;
}

#picture2 img{
  width: 300px;
  height: 200px;
  display: block;
}

.search-icon a{
  display: inline-flex;
  background: red;
  padding: 10px 10px;
  color: blanchedalmond;
}

.main{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-top: 100px;
  align-content: center;
  margin: auto;
  position: inherit;
  height: 300px;
}

.user{
  display: inline-block;
  margin-right: 20px;
  color: white;
  background-color: transparent;
  margin-top: 30px;
  padding: 10px 25px 10px;
  float: right;
}

.header-right-top{
  float: right;
  justify-content: space-between;
  height: 10px;
}

.welcome-user{
  color: white;
  margin-top: 30px;
  display: inline-block;
  padding: 15px 30px 15px;
}

.header-right-logout{
  float: right;
  justify-content: space-between;
  height: 10px;
  margin-right: 20px;
  display: inline-block;
}

.splash{
  position: fixed;
  display: contents;
  height: 40px;
  // background: blue;
}

.login{
  color: white;
  margin-top: 30px;
  display: flex;
  padding: 10px 25px 10px;
}
